<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
        <div class="copyright">
       <span> © 2020 Siddhartha Roy. All Rights Reserved. </span>
       <span> <a href="mailto:sidroy@vt.edu" alt="Email" target="_blank"><img src="/img/email.png"></a></span>
       <span> <a href="https://twitter.com/siddharthaxroy" alt="Twitter" target="_blank"><img src="/img/twitter.png"></a></span>
       <span> <a href="http://linkedin.com/in/sidr" alt="LinkedIn" target="_blank"><img src="/img/linkedin.png"></a></span>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}

<!--- # {{ partial "logo.html" . }} right after else and before div class copyright--->
<!--- <span>© {{ now.Year }} SR </span> --->
