body {

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Atma', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Tillana', cursive;
    }

p {
    font-family: 'Atma', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Mina', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Satisfy', cursive;
    font-family: 'Staatliches', cursive;
    font-family: 'Tillana', cursive;
    }
