<div class="people-page">
<div class="people-grid people-grid--3col">
<div class="person-card">
  <div class="person-card__image">
    <img src="/img/aanand-aggarwal.jfif" alt="Aanand Aggarwal">
  </div>
  <div class="person-card__content">
    <h3 class="person-card__name">Aanand Aggarwal</h3>
    <p class="person-card__role">Data Science<br>Graduate Researcher</p>
    <p class="person-card__bio">Aanand is pursuing a Master of Information in Data Science at Rutgers University with dual bachelor's degrees in Computer Science and IT & Informatics. His research utilizes Python and AI/ML techniques to automate the classification of corrosion images. He plans to apply this background in the health tech sector, addressing challenges in medical diagnostics and health equity.</p>
  </div>
</div>
<div class="person-card">
  <div class="person-card__image">
    <img src="/img/eve-butterworth.jpg" alt="Eve Butterworth">
  </div>
  <div class="person-card__content">
    <h3 class="person-card__name">Eve Butterworth</h3>
    <p class="person-card__role">Environmental Science<br>PhD Student</p>
    <p class="person-card__bio">Eve is a first-year PhD student who graduated from Wellesley College with a BA in Geosciences. She researches urban water contamination in New Jersey, including lead in schools and contaminants following natural disasters. She is passionate about environmental justice and building relationships between the lab and at-risk communities.</p>
  </div>
</div>
<div class="person-card">
  <div class="person-card__image">
   <img src="/img/jennie-fleurant.jpg" alt="Gael Fleurant">
  </div>
  <div class="person-card__content">
    <h3 class="person-card__name">Gael (Jennie) Fleurant</h3>
    <p class="person-card__role">Environmental Science<br>PhD Student</p>
    <p class="person-card__bio">Jennie's research focuses on drinking water quality, with emphasis on corrosion and metal leaching in decentralized water systems. She aims to improve understanding of corrosion processes and inform safer material choices for drinking water systems in low- and middle-income countries. Her interests include water treatment and sustainable safe drinking water access.</p>
  </div>
</div>
<div class="person-card">
  <div class="person-card__image">
    <img src="/img/emily-newton.jpg" alt="Emily Newton">
  </div>
  <div class="person-card__content">
    <h3 class="person-card__name">Emily Newton</h3>
    <p class="person-card__role">Environmental Science<br>Masters Student</p>
    <p class="person-card__bio">Emily is a master's student in Environmental Science with a bachelor's degree in Forensic Science. She is passionate about forensic environmental science and entomology, particularly its relevance to contamination investigations. This year, she will focus on one contamination event to give it thorough analytical attention.</p>
  </div>
</div>
</div>
</div>
