<form
  action="https://formspree.io/f/xknpewjy"
  method="POST"
      >
  <p>
    <label><b>What is your name?</b> (first and last) <input type="text" name="name" /></label> </p>  
  <p>
  <label>
    <b>What is your email? </b>
    <input type="text" name="_replyto">
    </label> </p>
  <p>
    <label>
    <b>Tell me something about yourself: </b>
    <textarea name="about"></textarea>
  </label>
  </p>
  <label>
    <b> What would you like to talk about? </b>
    <textarea name="message"></textarea>
  </label>
  </p>
<center> <button type="submit">Submit</button> </center>
</form>
