<form method="POST" action="https://formspree.io/sidroy@vt.edu">
  <div class="hpot">
    <label>Leave this field empty: <input name="_gotcha"></label>
  </div>
    <p>
    <label>Your Name (first, last): <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Top Three Questions: <textarea name="questions"></textarea></label>
  </p>
  <label>Comments:
    <textarea name="comments"></textarea>
  </label>
  <button type="submit">Submit</button>
</form>
